<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>基于OPENCV制作简易车牌识别--HTML+FLASK</h1>
    <form action="" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <i>请上传待识别文件：</i>
        <input type="text" class="txt_input" name="name" value=""/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>


</body>
</html>