<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>主页</title>
  <style type="text/css">
    html{height:100%;}
    body{min-height:100%;margin:0;padding:0;position:relative;}
    .header{background-color: white;}
    .main{padding-bottom:100px;background-color: white;}/* main的padding-bottom值要等于或大于footer的height值 */
    .footer{position:absolute;bottom:0;width:100%;height:100px;background-color: white;}
  </style>
</head>
<body>

<div style="text-align:center">
  <h1>基于OpenCv制作简易引体向上检测结合人脸识别登录</h1>
  <p>框架：Springboot+Flask+Html</p>
  <p>库：OpenCv+mediapipe+虹软</p>
  <br />
  <button id="register" onclick="" style="width: 50px;height: 30px;">注册</button>
  <button id="login" style="width: 50px;height: 30px;">登录</button>
</div>

<script>
  document.getElementById("register").onclick = function(){
    window.location.href = "register.html";
  }

  document.getElementById("login").onclick = function(){
    window.location.href = "login.html";
  }
</script>

<footer class="footer">
  <p class="text-center text-muted p-3" align="center">copyright @2022 电子科技大学中山学院20级计科G班李骏</p>
  <p align="center">Contact information: <a href="1132887706@QQ.COM">1132887706@QQ.COM</a></p>
</footer>
</body>

</html>