<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<video id="video" src="" autoplay="autoplay" loop="loop" muted="muted"></video>
<canvas id="canvas" style="border:1px solid #d3d3d3;"></canvas>
<div id="support"></div>
<div id="msg" style="font-size: 50px;"></div>
</body>
<script type="text/javascript" src="/static/js/login.js" ></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</html>